@using StudioHair.Core.Enums;
@model CadastroProdutoUnidadeInputModel
@{
    ViewData["Title"] = "Unidade do Produto";
}

<div class="container mt-5">
    <form asp-controller="Produto" asp-action="AdicionarUnidade" method="post">
        <div class="formulario" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
            <h2>Criar Unidade Produto</h2>
            <input type="hidden" asp-for="ProdutoId" />
            <div class="form-group mt-2">
                <label asp-for="Quantidade" class="form-label">Quantidade</label>
                <input asp-for="Quantidade" type="text" class="form-control" placeholder="Digite a quantidade" oninput="this.value = this.value.replace(/[^0-9]/g, '')" value="@Model.Quantidade">
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: inline-block; margin-right: 20px;">
                <label asp-for="TipoUnidade">Tipo</label>
                <select asp-for="TipoUnidade" class="form-control">
                    @foreach (var unidade in Enum.GetValues(typeof(EUnidade)))
                    {
                        <option value="@unidade">@unidade</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success mt-2"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
    </form>
    <div class="lista-produtos" style="border: 1px solid #ccc; padding: 10px; margin-top: 20px;">
        <h2>Produtos Unidades</h2>
        <ul style="margin-top: 10px;">
            @foreach (var produtoUnidade in Model.ProdutoUnidadeViewModel)
            {
                <li class="m-1">
                    <a asp-controller="Produto" asp-action="RemoverUnidade" asp-route-id="@produtoUnidade.Id" asp-route-produtoId="@Model.ProdutoId" class="btn btn-danger ml-3"><i class="fa-solid fa-x"></i></a>
                    <span>
                        Tipo de Unidade: @produtoUnidade.TipoUnidade - Quantidade: @produtoUnidade.Quantidade
                    </span>
                </li>
            }
        </ul>
    </div>
    <a asp-controller="Produto" asp-action="Criar" asp-route-id="@Model.ProdutoId" class="btn btn-danger" style="margin-top: 20px;">Voltar</a>
</div>