@model ResumoHomeViewModel
@{
    ViewData["Title"] = "Sistema de Gerenciamento";
}

@if (TempData["Sucesso"] != null)
{
    <div id="mensagem-sucesso" class="alert alert-success" role="alert">
        @TempData["Sucesso"]
    </div>
}
@if (TempData["Erro"] != null)
{
    <div id="mensagem-erro" class="alert alert-danger" role="alert">
        @TempData["Erro"]
    </div>
}

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger" role="alert">
        Ocorreram erros ao processar o formulário:
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vendas</h5>
                    <p class="card-text">Vendas Hoje: @Model.ResumoVendas.VendasHoje</p>
                    <p class="card-text">Total Vendas Hoje: R$ @Model.ResumoVendas.TotalDiario</p>
                    <p class="card-text">Total Vendas Mensal: R$ @Model.ResumoVendas.TotalMensal</p>
                    <p class="card-text">Ticket Médio Mensal: R$ @Model.ResumoVendas.TicketMedio</p>
                    <p class="card-text">@Model.ResumoVendas.HaVendas ? Ultima Venda: @Model.ResumoVendas.UltimaVenda : "Não há vendas criadas"</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Agendamentos</h5>
                    <p class="card-text">Agendamentos Hoje: @Model.ResumoAgendamentos.QuantidadeAgendamentoDiario</p>
                    <p class="card-text">Proximos Agendamentos: @Model.ResumoAgendamentos.QuantidadeProximosAgend</p>
                    <p class="card-text">Proximo Agendamento: @Model.ResumoAgendamentos.ProximoAgendamento</p>
                    <p class="card-text">Total Agendamentos Diario: R$ @Model.ResumoAgendamentos.TotalAgendamentoDiario</p>
                    <p class="card-text">Total Agendamentos Mensal: R$ @Model.ResumoAgendamentos.TotalAgendamentoMensal</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Produtos</h5>
                    <p class="card-text">Produtos Cadastrados: @Model.ResumoProdutos.ProdutosCriados</p>
                    <p class="card-text">Produtos para venda: @Model.ResumoProdutos.ParaVenda</p>
                    <p class="card-text">Produtos controle estoque: @Model.ResumoProdutos.ControlaEstoque</p>
                    <p class="card-text"><span class="text-white">Teste</span></p>
                    <p class="card-text"><span class="text-white">Teste</span></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Serviços</h5>
                    <p class="card-text">Serviços criados: @Model.ResumoServicos.ServicosCriados</p>
                    <p class="card-text"><span class="text-white">Teste</span></p>
                    <p class="card-text"><span class="text-white">Teste</span></p>
                    <p class="card-text"><span class="text-white">Teste</span></p>
                    <p class="card-text"><span class="text-white">Teste</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Atualizar a página a cada 10 minutos
    setInterval(function () {
        location.reload();
    }, 600000); // 600000 milissegundos = 10 minutos
</script>
