@model IEnumerable<AgendamentosViewModel>
@{
    ViewData["Title"] = "Lista de Agendamentos";
}

<div class="container mt-5">
    <button type="button" class="btn btn-success"><a asp-controller="Agendamento" asp-action="Criar">Criar</a></button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nome do Cliente</th>
                <th scope="col">Data da Venda</th>
                <th scope="col">Hora Inicial</th>
                <th scope="col">Hora Final</th>
                <th scope="col">Valor</th>
                <th scope="col">Configuração</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var agendamento in Model)
            {
                <tr>
                    <td>@agendamento.Id</td>
                    <td>@agendamento.NomeCliente</td>
                    <td>@agendamento.Dia.ToShortDateString()</td>
                    <td>@agendamento.HoraInicial</td>
                    <td>@agendamento.HoraFinal</td>
                    <td>R$ @agendamento.Valor</td>
                    <td>
                        <a href="/Agendamento/Config/@agendamento.Id" class="btn btn-success"><i class="fa-solid fa-gear"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>