@model IEnumerable<AgendamentosViewModel>
@{
    ViewData["Title"] = "Lista de Agendamentos";
}

<div class="container mt-5">
    <button type="button" class="btn btn-success"><a asp-controller="Agendamento" asp-action="Criar">Criar</a></button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Código <input type="text" class="form-control" id="filtroCodigo" placeholder="Filtrar"></th>
                <th scope="col">Nome do Cliente <input type="text" class="form-control" id="filtroNomeCliente" placeholder="Filtrar"></th>
                <th scope="col">Data da Venda <input type="text" class="form-control" id="filtroDataVenda" placeholder="Filtrar"></th>
                <th scope="col">Hora Inicial <input type="text" class="form-control" id="filtroHoraInicial" placeholder="Filtrar"></th>
                <th scope="col">Hora Final <input type="text" class="form-control" id="filtroHoraFinal" placeholder="Filtrar"></th>
                <th scope="col">Valor <input type="text" class="form-control" id="filtroValor" placeholder="Filtrar"></th>
                <th scope="col">Configuração</th>
            </tr>
        </thead>
        <tbody id="tabelaAgendamentos">
            @foreach (var agendamento in Model)
            {
                <tr>
                    <td>@agendamento.Id</td>
                    <td>@agendamento.NomeCliente</td>
                    <td>@agendamento.Dia.ToShortDateString()</td>
                    <td>@agendamento.HoraInicial</td>
                    <td>@agendamento.HoraFinal</td>
                    <td>R$ @agendamento.Valor</td>
                    <td>
                        <a href="/Agendamento/Config/@agendamento.Id" class="btn btn-success"><i class="fa-solid fa-gear"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const filtros = document.querySelectorAll('input[type="text"]');
        filtros.forEach(filtro => {
            filtro.addEventListener("input", filtrarTabela);
        });
    });

    function filtrarTabela() {
        const filtroCodigo = document.getElementById('filtroCodigo').value.toUpperCase();
        const filtroNomeCliente = document.getElementById('filtroNomeCliente').value.toUpperCase();
        const filtroDataVenda = document.getElementById('filtroDataVenda').value.toUpperCase();
        const filtroHoraInicial = document.getElementById('filtroHoraInicial').value.toUpperCase();
        const filtroHoraFinal = document.getElementById('filtroHoraFinal').value.toUpperCase();
        const filtroValor = document.getElementById('filtroValor').value.toUpperCase();

        const linhas = document.querySelectorAll('#tabelaAgendamentos tr');

        linhas.forEach(linha => {
            const colCodigo = linha.cells[0].textContent.toUpperCase();
            const colNomeCliente = linha.cells[1].textContent.toUpperCase();
            const colDataVenda = linha.cells[2].textContent.toUpperCase();
            const colHoraInicial = linha.cells[3].textContent.toUpperCase();
            const colHoraFinal = linha.cells[4].textContent.toUpperCase();
            const colValor = linha.cells[5].textContent.toUpperCase();

            if (colCodigo.includes(filtroCodigo) &&
                colNomeCliente.includes(filtroNomeCliente) &&
                colDataVenda.includes(filtroDataVenda) &&
                colHoraInicial.includes(filtroHoraInicial) &&
                colHoraFinal.includes(filtroHoraFinal) &&
                colValor.includes(filtroValor)) {
                linha.style.display = "";
            } else {
                linha.style.display = "none";
            }
        });
    }
</script>
