@model UpdatePessoaInputModel
@{
    Layout = "_LayoutSistemaCliente";
    ViewData["Title"] = "Perfil";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8" style="background-color: var(--cor-primaria); padding: 20px; border-radius: 8px;">
            <h2 class="text-center mb-4" style="color: var(--cor-secundaria);">Perfil</h2>

            <form method="post" asp-controller="Usuario" asp-action="PerfilDetalhes">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label asp-for="Nome" class="form-label" style="color: var(--cor-fonte);">Nome</label>
                        <input asp-for="Nome" type="text" class="form-control" id="nome" name="nome" value="@Model.Nome" disabled/>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div> 
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="Cpf" class="form-label" style="color: var(--cor-fonte);">CPF</label>
                        <input asp-for="Cpf" type="text" class="form-control" id="cpf" name="cpf" value="@Model.Cpf" disabled/>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="DataNascimento" class="form-label" style="color: var(--cor-fonte);">Data de Nascimento</label>
                        <input asp-for="DataNascimento" type="date" class="form-control" id="dataNascimento" name="dataNascimento" value="@Model.DataNascimento.ToString("yyyy-MM-dd")" disabled/>
                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-2">
                        <label asp-for="Cep" class="form-label" style="color: var(--cor-fonte);">CEP</label>
                        <input asp-for="Cep" type="text" class="form-control" id="cep" name="cep" maxlength="8" value="@Model.Cep"/>
                        <span asp-validation-for="Cep" class="text-danger"></span>
                    </div>
                    <div class="col-md-8">
                        <label asp-for="Rua" class="form-label" style="color: var(--cor-fonte);">Rua</label>
                        <input asp-for="Rua" type="text" class="form-control" id="rua" name="rua" value="@Model.Rua"/>
                        <span asp-validation-for="Rua" class="text-danger"></span>
                    </div>
                    <div class="col-md-2">
                        <label asp-for="Numero" class="form-label" style="color: var(--cor-fonte);">Número</label>
                        <input asp-for="Numero" type="text" class="form-control" id="numero" name="numero" value="@Model.Numero" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="Bairro" class="form-label" style="color: var(--cor-fonte);">Bairro</label>
                        <input asp-for="Bairro" type="text" class="form-control" id="bairro" name="bairro" value="@Model.Bairro"/>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Cidade" class="form-label" style="color: var(--cor-fonte);">Cidade</label>
                        <input asp-for="Cidade" type="text" class="form-control" id="cidade" name="cidade" value="@Model.Cidade"/>
                        <span asp-validation-for="Cidade" class="text-danger"></span>
                    </div>
                </div>

                <input asp-for="Id" type="text" class="form-control" id="id" name="id" value="@Model.Id" hidden/>

                <div class="d-flex justify-content-center my-4">
                    <a asp-controller="Usuario" asp-action="PerfilUsuario" class="btn" style="background-color: var(--cor-secundaria); color: var(--cor-fonte); margin: 0 10px;">1</a>
                    <a asp-controller="Usuario" asp-action="PerfilDetalhes" class="btn btn-primary" style="margin: 0 10px;">2</a>
                    <a asp-controller="Usuario" asp-action="PerfilCliente" class="btn" style="background-color: var(--cor-secundaria); color: var(--cor-fonte); margin: 0 10px;">3</a>
                </div>

                <div class="d-flex justify-content-center">
                    <a asp-controller="Usuario" asp-action="PerfilUsuario" class="btn btn-danger me-2">Voltar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector('#cep').addEventListener('input', function () {
        let cep = this.value.replace(/\D/g, '');

        if (cep.length === 8) {
            fetch('https://viacep.com.br/ws/' + cep + '/json/')
                .then(response => response.json())
                .then(data => {
                    if (!data.erro) {
                        document.querySelector('#cidade').value = data.localidade;
                        document.querySelector('#bairro').value = data.bairro;
                        document.querySelector('#rua').value = data.logradouro;
                    } else {
                        alert('CEP não encontrado.');
                    }
                })
                .catch(error => {
                    alert('Erro ao consultar o CEP: ' + error.message);
                });
        }
    });
</script>
